.list
	display: flex
	flex-direction: column
	border-radius: 1rem

	.contents
		overflow: hidden
		display: flex
		flex-direction: column

		table
			thead
				background-color: $gray6

				th
					font-size: 1.4rem
					font-weight: 600
					white-space: nowrap
					color: $gray2
					border-bottom: none
					text-align: left

					&:first-child
						span
							padding-left: 1.3rem

					span
						padding: 1.3rem 0
						display: flex
						align-items: center

			tbody
				tr
					td
						padding: 1.5rem 0.5rem

					&:hover
						background-color: rgba($gray5, 0.5)

			tr
				td:first-child, th:first-child
					padding-inline-start: 0.4rem
				td:last-child, th:last-child
					padding-inline-end: 0.4rem

				&:not(:last-child)
					td
						border-bottom: 1px solid $gray6

			td
				border-bottom: none

	footer
		display: flex
		align-items: center
		justify-content: flex-end
		margin-top: 3rem


@media screen and (max-width: 1080px)
	.list
		background-color: unset
		padding: 0

		header
			flex-direction: column
			align-items: stretch

			.actionsWrapper
				flex-direction: column
				align-items: stretch
				margin-top: 1.6rem

				.search
					width: unset
					margin-bottom: 1.2rem

				.actions
					margin-inline-start: 0

					> *
						flex: 1 0 0

						&:not(:last-child)
							margin-inline-end: 1.2rem

		.contents
			border: none
			border-radius: 0

			table
				display: flex
				flex-direction: column
				border: none

				thead
					display: none

				tbody
					display: flex
					flex-direction: column
					border: none

					> *:not(:last-child)
						margin-bottom: 1.6rem

				tr
					display: flex
					flex-direction: column
					border: none
					background-color: $gray6
					border-radius: 1.2rem
					padding: 1.6rem

					td
						display: flex
						justify-content: space-between
						align-items: center
						width: unset
						text-align: end
						padding: 1rem 0 !important
						height: fit-content

						&:not(:last-child)
							border-bottom: 1px solid $gray5 !important

						&:last-child
							border-bottom: none !important
							padding-bottom: 0 !important

						&:first-child
							padding-top: 0 !important

						>*
							width: 80%
							line-height: 1.5

						&::before
							color: $gray2

						&.mainTitle
							order: 0
							font-size: 1.8rem

							&::before
								display: none

						&:not(.mainTitle)
							order: 1

						&::before
							content: attr(data-label)
							text-align: start

				:global(.actions)
					flex-grow: 1 !important
					justify-content: center
					margin-top: 1.2rem

					> *
						flex-grow: 1

						&:not(:last-child)
							margin-inline-end: 1.2rem

				:global(.statusLabel)
					margin-inline-end: 0