$gray1: #191919
$gray2: #333333
$gray3: #7F7F7F
$gray4: #B3B3B3
$gray5: #CCCCCC

$green: #009595

$success: #17B24A
$error: #D61E20

$radius-l: 1.5rem
$radius-m: 1rem
$radius-s: 0.5rem

$size-l: 1.25rem
$size-m: 0.85rem
$size-s: 0.65rem
