.linkSection
  display: flex
  padding: $size-s $size-l
  color: $blue

  &:hover
    color: $blue-dark

  &:active
    color: $blue-darker

  &.disabled
    color: $blue-light
    user-select: none
    pointer-events: none
