.backSidebar
  position: fixed
  inset: 0
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  background-color: rgba($gray1, 0.5)
  backdrop-filter: blur(2px)
  -webkit-backdrop-filter: blur(2px)
  display: none

  &.open
    display: block


.sidebar
  position: fixed
  left: 0
  top: 0
  bottom: 0
  background-color: $gray10
  width: 240px
  margin-top: 63px
  padding: 1.5rem
  transition: 0.3s all ease-in-out
  z-index: 1

@media only screen and (max-width: 720px)
  .sidebar
    left: -100%
    border-right: 1px solid $gray5

    &.open
      left: 0

@media only screen and (max-width: 260px)
  .sidebar
    left: -200%

    &.open
      left: 0
