.menu
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: stretch
  box-sizing: border-box
  padding: $size-l
  border-radius: $radius-l
  box-shadow: 0 0.4rem 1.6rem rgba(black, 0.16)
  width: 250px
  background-color: $gray10

  .item
    display: flex
    border-radius: calc($radius-m - 0.2rem)
    transition: 0.3s background-color ease-in-out

    &:not(:last-child)
      margin-bottom: 0.5rem

    &:hover
      background-color: $gray6

    &:active
      background-color: rgba($gray5, 0.4)

    &.handler
      cursor: pointer

    &.loading
      display: flex
      justify-content: flex-start
      align-items: center

      .info
        display: none

    .info, .loadingWrapper
      display: flex
      justify-content: flex-start
      align-items: stretch
      color: $gray1
      width: 100%

      .link
        color: $gray1
        flex-grow: 1
        justify-content: flex-start

        a
          width: 100%

      span
        padding: $size-s $size-l

    .loadingWrapper
      display: flex
      align-items: center
      padding: 0 $size-l

      span
        color: $gray3

